body {
  font-family: Arial, sans-serif;
  direction: rtl;
  text-align: center;
  background-color: #0e2492ed;
  padding: 50px;
}
h1 {
  color: #333;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: #597ba1;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
